/*
Theme Name: Donham
Theme URI: https://pressbooks.com/themes/donham/
Description: This theme is named after Wallace Donham, Dean of Harvard Business School from 1919 to 1942. The Donham theme is a light, modern theme, equally effective for non-fiction and fiction. Body font is Tinos, and Header font is Galdeano. An earlier version of this theme was commissioned by Harvard Business Review Press.
Author: Pressbooks (Book Oven Inc.)
Author URI: https://pressbooks.com
Copyright: 2011-2017 Pressbooks (Book Oven Inc. <code@pressbooks.com>
Version: 1.7.0
Template: pressbooks-book
GitHub Theme URI: pressbooks/pressbooks-donham
*/
