// Elements

@if $type == 'epub' {
  $para-indent: 1em !default;

  $hx-margin-bottom: 1em !default;
  $hx-margin-top: 1em !default;

  $h1-margin-top: 1em !default;
  $h1-font-size: 1.2em !default;
  $h1-font-weight: bold !default;
  $h1-align: justify !default;
  $h1-line-height: 1.5em !default;

  $h2-margin-top: 1em !default;
  $h2-font-size: 1.1em !default;
  $h2-align: justify !default;
  $h2-margin-bottom: 1em !default;
  $h2-line-height: 1.5em !default;

  $h3-margin-top: 1em !default;
  $h3-font-size: .75em !default;
  $h3-text-transform: uppercase !default;
  $h3-align: justify !default;
  $h3-line-height: 1.5em !default;

  $h4-margin-top: 1.25em !default;
  $h4-font-size: .75em !default;
  $h4-text-transform: uppercase !default;
  $h4-align: justify !default;
  $h4-line-height: 1.5em !default;

  $h5-margin-top: 1.67em !default;
  $h5-font-size: 1em !default;
  $h5-font-weight: bold !default;
  $h5-align: justify !default;
  $h5-line-height: 1.5em !default;

  $h6-margin-top: 2.33em !default;
  $h6-font-size: 0.67em !default;
  $h6-font-weight: bold !default;
  $h6-align: justify !default;
  $h6-line-height: 1.5em !default;

  $blockquote-margin-top: 2em !default;
  $blockquote-margin-right: 4.05em !default;
  $blockquote-margin-bottom: 2em !default;
  $blockquote-margin-left: 4.05em !default;
}

@if $type == 'web' {
  $hx-line-height: 1.5em !default;
  $hx-margin-top: .75em !default;

  $section-title-font-weight: bold !default;

  $h1-text-transform: uppercase !default;
  $h1-font-weight: bold !default;

  $h2-text-transform: uppercase !default;
  $h2-font-weight: bold !default;

  $h3-text-transform: uppercase !default;
  $h3-font-weight: bold !default;

  $h4-text-transform: uppercase !default;
  $h4-font-weight: bold !default;

  $h5-text-transform: uppercase !default;
  $h5-font-weight: bold !default;

  $h6-text-transform: uppercase !default;
  $h6-font-weight: bold !default;
  $h6-font-family: $font-3 !default;

  $blockquote-font-size: .9em !default;
  $blockquote-line-height: 1.4em !default;
}

// Body
$body-font-size: (epub: medium, prince: 11pt, web: 1.125rem) !default;

// Para
$para-indent: 2em !default;
$para-align: (epub: justify, prince: justify, web: initial) !default;

// Headers
$hx-margin-top: 1.15em !default;
$hx-margin-bottom: 15px !default;
$hx-line-height: 1.6em !default;

// H1
$h1-font-size: 1.305em !default;
$h1-align: left !default;
$h1-font-weight: normal !default;

// H2
$h2-margin-top: 1.2em !default;
$h2-margin-bottom: 15px !default;
$h2-font-size: 1.0875em !default;
$h2-align: left !default;

// H3
$h3-margin-top: 1.525em !default;
$h3-font-size: 0.815em !default;
$h3-align: left !default;
$h3-font-style: normal !default;

// H4
$h4-margin-top: 1.75em !default;
$h4-font-size:  0.815em !default;

// H5
$h5-margin-top: 1.75em !default;
$h5-font-size: .905em !default;
$h5-font-style: normal !default;

// H6
$h6-margin-top: 2.6em !default;
$h6-font-size: 0.73em !default;

// Cite
$cite-text-transform: none;
$cite-font-style: italic;
$cite-font-variant: none !default;
$cite-font-size: 1em !default;
$cite-margin-top: 1em !default;

// Tables
$table-tr-border-top-width: (epub: 1px, prince: 0, web: 0) !default;
$table-tr-border-top-style: (epub: solid, prince: none, web: none) !default;
$table-tr-border-bottom-width: (epub: 1px, prince: 0, web: 0) !default;
$table-tr-border-bottom-style: (epub: solid, prince: none, web: none) !default;

$table-td-padding-top: 5px !default;
$table-td-padding-right: 5px !default;
$table-td-padding-bottom: 5px !default;
$table-td-padding-left: 5px !default;

$table-line-height: 1.1em;

// Lists
// UL
$ul-ul-margin-top: 0em !default;
$ul-margin-left: (epub: 0, prince: 2em, web: 0) !default;
$ul-padding-left: 2em !default;
$ul-margin-top: 0em !default;

$ol-margin-left: (epub: 0em, prince: 2em, web: 0) !default;
$ol-ol-margin-top: 0.25em !default;

$li-li-margin-top: 0.25em !default;

// Blockquote
$blockquote-font-size: 1em !default;
$blockquote-line-height: 1.4em !default;
$blockquote-margin-top: 1.15em !default;
$blockquote-margin-right: 2.05em !default;
$blockquote-margin-bottom: 1.1em !default;
$blockquote-margin-left: 2.05em !default;

// Pre
$pre-margin-top: 1.15em !default;
$pre-margin-bottom: 1.15em !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/elements';

// Add custom SCSS below these imports and includes.
@import 'components/elements';

ol.decimal li::before,
ol.harvard li::before,
ol.legal li::before {
  width: auto !important;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0
}

.indent {
  text-indent: 2em;
}

ul li li li {
  list-style-image: none;
}

table + p {
  margin-top: 1em;
}

@if $type == 'epub' {
  h3 {
    margin-left: 2em;
  }

  h5 {
    margin-left: 2em;
  }

  .indent {
    text-indent: 1em;
  }
}

@if $type == 'web' {
  dd {
    line-height: 1.5em;
  }

  .indent {
    text-indent: 1em;
  }
}
