// Media
// Images

// Images
$image-wrapper-margin-bottom: .5em !default;
$image-caption-font-size: 0.875em !default;
$image-caption-margin-top: (epub: 0.6em, prince: .6em, web: .6em) !default;
$image-caption-font-style: italic !default;
$image-caption-line-height: (prince: 1.2em, epub: 1.2em, web: 1.2em) !default;

// Interactive Content
$interactive-content-font-style: normal !default;
$interactive-content-text-indent: 0 !default;
$interactive-content-font-size: 1em !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/media';

// Add custom SCSS below these imports and includes.
@import 'components/media';
