// Media
// Images
@if $type == 'epub' {

}

@if $type == 'web' {

}

// Images
$image-wrapper-margin-bottom: 1em !default;

$image-caption-font-size: 0.875em !default;
$image-caption-margin-top: (epub: 0, prince: .6em, web: 0) !default;
$image-caption-font-style: italic !default;

// Interactive Content

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/media';

// Add custom SCSS below these imports and includes.
@import 'components/media';
