// Section Titles
@if $type == 'epub' {

}

@else if $type == "web" {

}

// Section Header
$section-title-block-margin-bottom: (
  epub: 2em,
  prince: 2.5cm,
  web: 2em
) !default;
$section-title-font-size: (
  epub: 1.5em,
  prince: 1.64em,
  web: 2em
) !default;
$section-title-margin-top: (
  epub: 0,
  prince: 0,
  web: 0
) !default;
$section-title-margin-bottom: (
  epub: 2em,
  prince: 2.5cm,
  web: 2em
) !default;
$section-title-font-weight: bold !default;
$section-title-align: right !default;
$section-title-line-height: 1.8em !default;

// Section Space

// Section Subtitle

// Section Author

// Aphorism

// Front Matter
$front-matter-title-font-size: (
  epub: 1.5em,
  prince: 1.875em,
  web: 2em
) !default;
$front-matter-title-margin-top: (
  epub: 0,
  prince: -.1em,
  web: 0
) !default;
$front-matter-title-margin-bottom: (
  epub: 2em,
  prince: -1.85cm,
  web: 2em
) !default;

// TOC Title

// Part Number

// Part Title

// Chapter Number
$chapter-number-display: inline !default;
$chapter-number-font-size: (
  epub: 1em,
  prince: 1.25em,
  web: 1em
) !default;
$chapter-number-margin-right: (
  epub: 0,
  prince: .5em,
  web: 0
) !default;

// Chapter Title
$chapter-title-display: inline !default;

// Back Matter

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/section-titles';

// Add custom SCSS below these imports and includes.
@import 'components/section-titles';

.textbox.exercises h3,
.textbox.key-takeaways h3,
.textbox.learning-objectives h3,
.textbox.examples h3 {
    font-size: 1em;
}

h6.short-title {
  display: none;
}

.chapter-title-wrap {
  margin-left: 6em;
  text-align: right;
  display: block;
}

@if $type == 'epub' {

}

@if $type == 'web'{

}
