// Structure

// Running Content
$running-content-position: 'top-outside' !default;
$runninghead-right-text-transform: none !default;
$runninghead-right-letter-spacing: normal !default;
$runninghead-right-word-spacing: normal !default;
$runninghead-right-font-size: 0.75em !default;
$runninghead-left-text-transform: none !default;
$runninghead-left-letter-spacing: normal !default;
$runninghead-left-word-spacing: normal !default;
$runninghead-left-font-size: 0.75em !default;
$left-running-separator: '\A0\A0\A0\A0' !default;
$right-running-separator: '\A0\A0\A0\A0' !default;

// Page Numbers
$front-matter-page-number-font-size: 0.75em !default;
$page-number-font-size: 0.75em !default;

// Override variables above this line, using the !default flag to allow further overrides.
@import 'variables/structure';

// Add custom SCSS below these imports and includes.
@import 'components/structure/general';
@import 'components/structure/recto-verso';
@import 'components/structure/numbering';
@import 'components/structure/content-strings';
@import 'components/structure/running-content';

